header{
	height: 300px;
	width: 100%;
}

.bgImg{
	transform: scaleY(1);
}


.menuLinks li:nth-child(1) a{
	color: var(--bg);
	text-decoration: none;
}

.addLinks a:nth-child(1){
    text-decoration: line-through;
    color: var(--index);
}

.menuLinks li:nth-child(1) a:hover{
	color: var(--index);
}


.content{
    padding: 0 200px;
}

.content h2{
    font-size: 30px;
    margin-bottom: 30px;
}

.content h4{
    color: var(--index);
    margin-bottom: 10px;
    margin-top: 40px;
    font-size: 24px;
}

.content p{
    font-size: 20px;
    line-height: 30px;
}


@media screen and (max-width: 1000px) {

    header{
        height: 170px;
        margin-bottom: 30px;
    }

    .content{
        padding: 10px;
    }
}